/*body{
    background: slategray;
}*/
html,
body {
    min-height: fit-content;
    min-width: fit-content;
    height: 100%;
    width: auto;
    background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
    z-index:0;
    /*background-repeat:no-repeat;*/
  }

*{
    font-family: 'Nanum Gothic', sans-serif;
}