/*body{
    background: slategray;
}*/
html,
body {
    height: 100%;
    background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
    z-index:0;
    /*background-repeat:no-repeat;*/
  }

*{
    font-family: 'Nanum Gothic', sans-serif;
}

/*#qna{
  overflow: hidden;
}
*/
/*
.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
    overflow-anchor: auto;
    
  }
  
  .wave {
    background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 640px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    overflow:clip;
  }
  
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7.1s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
    overflow:clip;
  }
  .wave:nth-of-type(3) {
    top: -160px;
    animation: wave 7.2s cubic-bezier(0.3, 0.4, 0.6, 0.5) -0.12s infinite, swell 7s ease -1.25s infinite;
    opacity: 0.4;
    overflow:clip;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @keyframes swell {
    0%,
      100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
  .endWave{
      display:none;
  }*/