#result{
    display: none;
}

.img{
    padding: 100px;
}

.button{
    color:red;
    background-color: rosybrown;
}

.speechBubble{
    color: orange;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.popBubble{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 100%;
    border-color: burlywood;
    border:0px;
    font-size: 20px;
    position: relative;
}

.popBubble:hover, .popBubble:focus{
    background-color: grey;
    color: white;

}

.pick0{
    color:black;
    position: relative;
}

.pick0{
    color: darkkhaki;
    position: relative;
}